<mat-toolbar>
    <span>My Application</span>
    <div class="nav-options">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"> <mat-icon class="header_icons">settings</mat-icon></button>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"><mat-icon class="header_icons">account_circle</mat-icon></button>
    </div>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="toggleTheme()">
          <mat-icon></mat-icon>
          <span>{{themeText}}</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon></mat-icon>
          <span>voice mail</span>
        </button>
      </mat-menu>
</mat-toolbar>

<div class="container" [ngClass]= "themeSelected? 'light-theme' : 'dark-theme'">

    <!-- SideBar -->
    <div [ngClass]="status ? 'sidebar-nav' : 'sidebar-nav-min'">
        <mat-toolbar class="sidebar-nav-mat-toolbar">
                <span class="side-nav-header" *ngIf="status">More Options</span>
                <mat-icon class="menu" (click)="toggleShow()">reorder</mat-icon>
        </mat-toolbar>
        <div *ngIf="status">
            <p class="sidebar-nav-options">
                <mat-icon> pie_chart</mat-icon><a>Pie charts</a>
            </p>
            <p class="sidebar-nav-options">
                    <mat-icon> bar_chart</mat-icon><a>Bar charts</a>
            </p>
            <p class="sidebar-nav-options">
                <mat-icon> table_chart</mat-icon><a>Tables</a>
            </p>
            <p class="sidebar-nav-options">
                <mat-icon>history</mat-icon><a>History</a>
            </p>
            <p class="sidebar-nav-options">
                <mat-icon>history</mat-icon><a>Pie charts</a>
            </p>
            <p class="sidebar-nav-options">
                <mat-icon>history</mat-icon><a>Pie charts</a>
            </p>
        </div>
        <div *ngIf="!status">
            <p class="sidebar-nav-options-min"><a>
                    <mat-icon> pie_chart</mat-icon>
                </a></p>
            <p class="sidebar-nav-options-min"><a>
                    <mat-icon> bar_chart</mat-icon>
                </a></p>
            <p class="sidebar-nav-options-min"><a>
                    <mat-icon> table_chart</mat-icon>
                </a></p>
            <p class="sidebar-nav-options-min"><a>
                    <mat-icon> history</mat-icon>
                </a></p>
            <p class="sidebar-nav-options-min"><a>
                    <mat-icon> pie_chart</mat-icon>
                </a></p>
            <p class="sidebar-nav-options-min"><a>
                    <mat-icon> pie_chart</mat-icon>
                </a></p>
        </div>
    </div>
    
    <!-- Main UI -->
    <div [ngClass]="status ? 'main-block-min' : 'main-block'">
        <div class="default-main-block-{{theme}}">
            <h3>sadlkkl lajdlajds;ijdlj dlajd lajd lkjd lkjdl ajd ksdj </h3>
            <h4>dduhdsin ndiuhiud hiduh isudhiudshfishd isuhd isudhiu sdhusdhiu d hfiudhhd</h4>
        </div>
        <div class="dynamic-main-block-{{theme}}" id="dynamic-container">
            <!-- <app-barchart></app-barchart> -->
        </div>

    </div>
</div>
<!-- <footer><p>&copy; Ashwath</p> </footer> -->